In [87]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [88]:
train_data = pd.read_csv('/home/siarhei/Programming/ML/Data/train-Titanic.csv')

In [89]:
train_data.head(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S

In [90]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [91]:
train_data.shape

(891, 12)

In [92]:
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [95]:
train_data = train_data.drop(['Name','Ticket','Cabin'],axis=1)

In [96]:
train_data['Embarked'].fillna(value='S', inplace=True)
train_data['Age'].fillna(value=train_data['Age'].mean(), inplace=True)
train_data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [98]:
train_data = pd.get_dummies(train_data)

In [99]:
X_train, X_test, y_train, y_test = train_test_split(train_data.drop('Survived',axis = 1), train_data['Survived'], test_size=0.33)
print(f'X_train:{X_train.shape}\nX_test:{X_test.shape}\ny_train:{y_train.shape}\ny_test:{y_test.shape}')

X_train:(596, 11)
X_test:(295, 11)
y_train:(596,)
y_test:(295,)

In [100]:
import xgboost as xgb

In [101]:
model = xgb.XGBClassifier()
model.fit(X_train, y_train)
print(model)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [102]:
expected_y  = y_test
predicted_y = model.predict(X_test)

In [103]:
from sklearn.metrics import f1_score

In [104]:
f1_score(y_true = expected_y, y_pred= predicted_y, average=None)

array([0.832     , 0.70697674])

In [106]:
test_data = pd.read_csv("/home/siarhei/Programming/ML/Data/test-Titanic.csv")
ID = test_data['PassengerId']


test_data = test_data.drop(['Name','Ticket','Cabin'],axis=1)
test_data['Embarked'].fillna(value='S', inplace=True)
test_data['Age'].fillna(value=train_data['Age'].mean(), inplace=True)
test_data = pd.get_dummies(test_data)


pred = model.predict(test_data)
output = pd.DataFrame({'PassengerId': ID, 'Survived': pred})
output.to_csv('/home/siarhei/Programming/ML/Data/submission.csv', index=False)

In [ ]:
#sho ya za govno napisal IDK